header img {
  width: 200px;
}

.site-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

header button {
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 600 !important;
  background-color: grey;
  color: white;
  padding: 8px 20px;
  text-align: center;
  display: inline-block !important;
  text-decoration: none;
  border: 0px;
  width: max-content;
  cursor: pointer;
  transition: all 0.3s 0s ease-in-out;
  border-radius: 10px;
  border: 2px solid grey;
}

header button:hover {
  transform: scale(1.04, 1);
  background-color: grey;
  text-decoration: none;
}

header input[type="text"] {
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
  border-radius: 10px;
  width: 10rem;
}

header input[type="text"]:hover {
  transform: scale(1.04, 1);
  text-decoration: none;
}

header form {
}

.welcome-text {
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 600 !important;
  background-color: white;
  color: #4f5659;
  padding: 8px 20px;
  margin: 0px 10px;
  text-align: center;
  display: inline-block !important;
  text-decoration: none;
  border: 0px;
  width: max-content;
  cursor: pointer;
  transition: all 0.3s 0s ease-in-out;
  border-radius: 10px;
  border: 2px solid grey;
}

.textarea {
  display: block;
  width: 100%;
  overflow: hidden;
  resize: both;
  min-height: 40px;
  line-height: 20px;
}
